# PostgreSQL/Supabase
DB_HOST=
DB_PORT=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

# Redis
REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=

# Kakao OAuth
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=

# Kakao 지도/식당 검색
KAKAO_MAP_JAVASCRIPT_KEY=
KAKAO_REST_API_KEY=

# JWT
JWT_ISSUER=
JWT_PUBLIC_KEY_LOCATION=
JWT_PRIVATE_KEY_LOCATION=

# Google GenAI
GOOGLE_API_KEY=